<div class="event-detail-page" *ngIf="event">
  <!-- Poster -->
  <div class="poster-container">
    <img class="poster" [src]="event.poster" [alt]="event.title" />

    <div class="gradient-overlay"></div>

    <!-- Tombol Back -->
    <button class="back-btn" (click)="goHome()">
      <span class="back-icon">«</span>
    </button>

    <div class="badges">
      <span class="badge special" *ngIf="event.isSpecial">SPECIAL</span>
      <span class="badge new" *ngIf="event.isNew">NEW</span>
    </div>
  </div>

  <!-- Info Film -->
  <div class="content">
    <h1 class="title">{{ event.title }}</h1>

    <div class="meta">
      <span>{{ event.location }}</span>
      <span class="dot">•</span>
      <span>{{ event.date }}</span>
      <span class="dot">•</span>
      <span>{{ event.time }}</span>
      <span class="dot">•</span>
      @if (event.availableSeats > 0) {
      <span>{{ event.availableSeats }} seats left</span>
      } @else {
      <span class="sold-out">Sold Out</span>
      }
    </div>

    <h3 class="subtitle">EVENT DESCRIPTION</h3>
    <p class="description">
      {{ event.description || 'There is no description for this event yet.' }}
    </p>

    <button class="buy-btn" (click)="buyTicket()">Select Seats</button>
  </div>
</div>
