<div class="checkout-page" *ngIf="event">
  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="goBack()">«</button>
    <div class="title">Checkout</div>
  </div>

  <!-- INFO FILM -->
  <div class="event-box">
    <img [src]="event.poster" class="poster" [alt]="event.title" />

    <div class="event-info">
      <h2>{{ event.title }}</h2>
      <p class="genre">{{ event.genre }}</p>
      <p class="line">Jam: {{ time }}</p>
      <p class="line">Kursi: {{ seatListLabel }}</p>
    </div>
  </div>

  <!-- RINCIAN KURSI + KATEGORI -->
  <div class="seat-type-box">
    <h3>Seat Details</h3>

    <div class="seat-type-row" *ngFor="let sel of seatSelections">
      <div class="seat-name">{{ sel.seat }}</div>
      <div class="seat-type">{{ getTypeLabel(sel.typeCode) }}</div>
      <div class="seat-price">Rp {{ formatRupiah(getTypePrice(sel.typeCode)) }}</div>
    </div>
  </div>

  <!-- TOTAL HARGA -->
  <div class="price-box">
    <div class="row">
      <span>Number of seats</span>
      <span>{{ seatSelections.length }}</span>
    </div>

    <hr />

    <div class="row total">
      <span>Total Payment</span>
      <span>Rp {{ formatRupiah(total) }}</span>
    </div>
  </div>

  <!-- BUTTON BAYAR -->
  <button class="pay-btn" (click)="bayar()">Pay Now</button>
</div>
